.popover-template-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  
  &-btn {
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    // height: 2.1rem; 
    font-size: 1.2rem; 
    padding: .3rem .4rem; 
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: #1AAB8A;

      &:before, &:after {
        width:100%;
        transition:800ms ease all;
      }
    }

    &:before, &:after {
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #1AAB8A;
      transition:400ms ease all;
    }
    &:after {
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
  }

  &-template {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    &-btn {
      background-color: red;
      color: white;
      padding: 2px;
      border: 2px red solid;
      &:hover {
        background-color: white;
        color: red;
        cursor: pointer;
      }
    }
  }
}

.my-custom-backdrop-for-this-component {
  background: green;
}
