<nav class="navigation">
  <ul class="menu">
    <li><a routerLink="/" routerLinkActive="navigation-menu--active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/custom-dropdown" routerLinkActive="navigation-menu--active">Custom Dropdown</a></li>
    <li><a routerLink="/custom-select" routerLinkActive="navigation-menu--active">Custom Select</a></li>
    <li><a routerLink="/custom-popover" routerLinkActive="navigation-menu--active">Custom Popover</a></li>
    <li><a routerLink="#" routerLinkActive="navigation-menu--active">Magni</a></li>
  </ul><!-- .menu -->
</nav><!-- .navigation -->