.popover-component-wrapper {

  // &-text {
    
  // }

  // &-code {

  // }

  &-component {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    &-btn {
      background-color: red;
      color: white;
      padding: 2px;
      border: 2px red solid;
      &:hover {
        background-color: white;
        color: red;
        cursor: pointer;
      }
    }
  }
}

::ng-deep
.custom-popover-wrap {
  position:fixed;
  left:50%;
  top: 50%;
}

::ng-deep
.custom-popover-content {
  position:relative; 
  left:-50%;
  top: -50%;
}