<div class="popover-component-wrapper" appAddCssClass [cssSelector]="'.popover-container'" [cssClass]="'custom-popover-wrap'">
  <p class="popover-component-wrapper-text" appAddCssClass [cssSelector]="'.popover'" [cssClass]="'custom-popover-content'">
    I'm an entry component(Inside popover component) & centered using dynamic classes. And injected using popover.
  </p>
  
  <code class="popover-component-wrapper-code">Skills: {{skills | json}}</code>
  
  <div class="popover-component-wrapper-component">
    <a class="popover-component-wrapper-component-btn" (click)="close()">Close</a>
  </div>
</div>